name: 'FOSSA Action'

# Ensures that this is only run once, either when pushing
# directly to main OR when pushing to a PR against main.
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  fossa-scan:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Install npm packages
        run: yarn --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Run FOSSA scan and upload build data
        uses: ./
        with:
          api-key: ${{secrets.fossaApiKey}}

      - name: Run FOSSA test
        uses: ./
        with:
          api-key: ${{secrets.fossaApiKey}}
          run-tests: true

      - name: Run FOSSA container scan and upload build data
        uses: ./
        with:
          api-key: ${{secrets.fossaApiKey}}
          container: alpine:latest

      - name: Run FOSSA scan with branch
        uses: ./
        with:
          api-key: ${{secrets.fossaApiKey}}
          branch: develop

      - name: Run FOSSA test
        uses: ./
        with:
          api-key: ${{secrets.fossaApiKey}}
          container: alpine:latest
          run-tests: true
