name: 'action-tests'

on:
  - pull_request
  - push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          # - macos-latest
          - ubuntu-latest
          # - windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js 12.x
        uses: actions/setup-node@v2
        with:
          node-version: 12.x

      - name: Install npm packages
        run: yarn --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Run FOSSA scan and upload build data
        uses: ./
        with:
          api-key: ${{secrets.fossaApiKey}}

      - name: Run FOSSA test
        uses: ./
        with:
          api-key: ${{secrets.fossaApiKey}}
          run-tests: true
      - name: Run FOSSA container scan and upload build data
        uses: ./
        with:
          api-key: ${{secrets.fossaApiKey}}
          container: alpine:latest

      - name: Run FOSSA test
        uses: ./
        with:
          api-key: ${{secrets.fossaApiKey}}
          container: alpine:latest
          run-tests: true
